<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
{% extends "common/layout.html"%}
{% block content %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User Sign-up</h3>
      </div>
      <div class="panel-body" style="margin: auto">
          <div>
              <h1 id="login-header">Welcome!</h1>
          </div>
          <div id="login-error-msg-holder">
              <p id="login-error-msg" style="opacity:{{opac}};">{{msg}}</p>
          </div>

          <form class="form-horizontal" action="/login/sign_up" method="POST" id="register-form">
              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                  <div class="col-sm-10">
                      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
                  </div>
              </div>
              <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
                  </div>
              </div>

              <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">School</label>
                  <div class="col-sm-10">
                        <select id="school-select" name="school"></select>
                  </div>
              </div>

              <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Subject</label>
                  <div class="col-sm-10">
                    <select id="subject-select" name="subject"></select>
                  </div>
              </div>


              <div class="form-group" >
                  <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Sign up" id="submit-button" disabled></input>
                      <a href="/">Login <span class="sr-only">(current)</span></a>
                  </div>
              </div>
          </form>

          <script>
            let option = document.createElement('option');
            option.value = "Select a school...";
            option.innerHTML = "Select a school...";
            document.getElementById('school-select').appendChild(option);
            for (let school of {{ schools|tojson|safe }}) {
                option = document.createElement('option');
                option.value = school;
                option.innerHTML = school;
                document.getElementById('school-select').appendChild(option);
            }
        
           
            document.getElementById('school-select').addEventListener('change', function() {
                
                let selectedCollege = this.selectedIndex-1;

        
               
                let subjects = {{ subjects|tojson|safe }};
                let courseSelect = document.getElementById('subject-select');
                courseSelect.innerHTML = '';
        
                
                for (let subject of subjects[selectedCollege]) {
                    
                    let option = document.createElement('option');
                    option.value = subject.subjectFullname;
                    option.innerHTML = subject.subjectFullname;
                    courseSelect.appendChild(option);
                }
                if (selectedCollege && courseSelect.value) {
                    document.getElementById('submit-button').disabled = false;
                } else {
                    document.getElementById('submit-button').disabled = true;
                }
            });
                
          
            document.getElementById('subject-select').addEventListener('change', function() {
                let selectedCourse = this.value;
            
                
                if (selectedCourse && document.getElementById('subject-select').value) {
                    document.getElementById('submit-button').disabled = false;
                } else {
                    document.getElementById('submit-button').disabled = true;
                }
            });

        
        </script>
      </div>
    </div>

    </body>

</html>

{% endblock %}
