form {
  display: flex;
  align-items: center;
}

select {
  width: 120px;
  height: 30px;
  margin: 0 10px;
}

input {
  width: 60px;
  height: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

button {
  margin-left: auto;
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  margin-top: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color: aqua;
}

.collapsible:before {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.collapsible.active:before {
  content: '\2212';
}

.collapsible.active {
  background-color: rgb(57, 152, 255);
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}