{% extends "common/layout.html"%}
{% block content %}

<style>
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
</style>

<form action="/subjects" method="GET" id="form">
  <input type="hidden" name="schoolAbbr" value="{{schoolAbbr}}">
  <input type="submit" value="Back">
</form>

<label class="switch">
  <input type="checkbox" id="displayToggle">
  <span class="slider"></span>
</label>
<label for="toggle" id="toggleLabel" style="margin-left: 10px;">Showing: 
  {%if display == true or display == "true" %}
    Displayed Courses
  {% else %}
    Hidden Courses
  {% endif %}
</label>

<div class="row">
  <h2 id="select_title">Select courses to 
    {%if display == true or display == "true"%}
      hide
    {% else %}
      display
    {% endif %}
    :</h2>


  <button type="submit" onclick="submit()">Submit</button>
  <button type="button" onclick="selectAll()">Select All</button>
  <button type="button" onclick="unselectAll()">Unselect All</button>
  {% for doc in docs %}
    <ul>
      <li class="course_element" data-display="{{doc.display}}">
        <input type="checkbox" name="courseID" value={{doc.id}} class="course_checkbox">
        <a href="/course/details?courseID={{doc.id}}" target="_blank">{{doc.subjectAbbr}}-{{doc.schoolAbbr}}-{{doc.deptCourseId}}-{{doc.section_code}}: {{doc.sectionName}}</a> 
      </li>
    </ul>
{% endfor %}


  <script>
    const toggle = document.getElementById('displayToggle');
    toggle.checked = {{display}};

    function selectAll() {
      // Get all the checkboxes on the page
      var checkboxes = document.querySelectorAll('.course_checkbox[type="checkbox"]');
      // Loop through the checkboxes and set their checked property to true
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = true;
      }
    }

    function unselectAll() {
      // Get all the checkboxes on the page
      var checkboxes = document.querySelectorAll('.course_checkbox[type="checkbox"]');
      // Loop through the checkboxes and set their checked property to true
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = false;
      }
    }

    function submit() {
      // Get all the checked checkboxes
      var checkboxes = document.querySelectorAll('.course_checkbox[type=checkbox]:checked');
    
      // Create an array to store the values of the checked checkboxes
      var values = [];
      for (var i = 0; i < checkboxes.length; i++) {
        values.push(checkboxes[i].value);
      }
      var valuesJsonString = JSON.stringify(values);

      // Create a FormData object to store the additional parameters
      var formData = new FormData();
      formData.append('values', valuesJsonString);
      var schoolAbbr = '{{ schoolAbbr }}';
      var subjectAbbr = '{{ subjectAbbr }}';
      formData.append('schoolAbbr', schoolAbbr);
      formData.append('subjectAbbr', subjectAbbr);
      formData.append('isCourseDisplaying', toggle.checked)
    
      // Send a POST request to the backend with the FormData object
      fetch('/database/update', {
        method: 'POST',
        body: formData
      }).then(response => {
        if (response.redirected) {
          window.location.href = response.url;
        }
      });
    }

   
    const label = document.getElementById('toggleLabel');
    const select_title = document.getElementById('select_title');
  

    function toggleDisplay() {
      const courses = document.querySelectorAll('.course_element');

      courses.forEach((course) => {
       
        const display = course.getAttribute('data-display');
  
        if (toggle.checked && display === 'True') {
          course.style.display = 'block';
        } else if (!toggle.checked && display === 'False') {
          course.style.display = 'block';
        } else {
          course.style.display = 'none';
        }
      });
    }
    toggleDisplay();

    toggle.addEventListener('change', (event) => {
      const courses = document.querySelectorAll('.course_element');

      toggleDisplay();


      if (event.target.checked) {
        label.textContent = 'Showing: Displayed Courses';
        select_title.textContent = 'Select courses to hide:';
      } else {
        label.textContent = 'Showing: Hidden Courses';
        select_title.textContent = 'Select courses to display:';
      }
    });
   
  </script>
</div>
{% endblock %}


