{% extends "common/layout_authenticated.html"%}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/css/dashboard.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

       
    {% set courseMap = courses | groupby('rawCourseName') %}
    
    
    {% for key, value in courseMap %}

    {% if loop.index0 <= 100 %}
    {% set course = value[0] %}
    {% set displayCount = namespace(value=0) %}
    <div class="collapsible collapsed" style="color: #245269">
        {{course.subjectAbbr}}-{{course.schoolAbbr}}-{{course.deptCourseId}}: {{course.rawCourseName}}
    </div>
    
    
    <div class="content">
            {% set count = namespace(value=0) %}
            {% for course in value %}
                {%if course.display == true%}
                    {% set count.value = count.value + 1 %}
                {%endif%}
            {% endfor %}
            {% if count.value == 0 %}
                <p>No sections available for this Course!</p>
            {% else%}
                {% for course in value %}
                    {%if course.display == true%}
                        <ul id="courseList" class="dashboard_ul">

                            <div class="list-group">
                            <li class="list-group-item" style="font-weight: bolder; font-family: 'Gill Sans MT Ext Condensed Bold'">
                                <form action="/course/details" method="GET">
                                    <label>Section {{course.section_code}}: {{ course.sectionName }}</label>
                                    <input type="hidden" name="courseID" value="{{course._id}}">
                                    <button class="btn btn-default btn-sm" type="submit">
                                        <span class="glyphicon glyphicon-edit"></span> <small>Details</small>
                                    </button>
                                </form>
                            </li>
                            <button type="button" class="list-group-item">Instructors:
                                {% for instructor in course.instructors %}
                                    {{ instructor }}
                                    {% if not loop.last %}, {% endif %}
                                {%endfor%}
                            </button>
                            <li class="list-group-item">Type: {{ course.type }}</li>
                            <div>
                                {% if course.status == "Closed" %}
                                    <li class="list-group-item">
                                        Status: {{ course.status }}
                                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                    </li>
                                {% else %}
                                    <li type="button" class="list-group-item">
                                        Status: {{ course.status }}
                                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                    </li>
                                {% endif %}
                            </div>
                            <li class="list-group-item">
                                {%if course.overallRating >= 0%}
                                    <p>Overall Rating: {{ course.overallRating }}</p>
                                {%else%}
                                    <p>Overall Rating: N/A</p>
                                {%endif%}
                            </li>
                            </div>


                        </ul>
                    {%endif%}
                {% endfor %}
           {% endif %}
        </div>
    {% endif %}
    
    
{% endfor %}



    

    <script>
        $(document).ready(function() {

            $(".collapsible").click(function() {

                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $(this).next(".content").slideUp();
                } else {

                    $(this).addClass("active");
                    $(this).next(".content").slideDown();
                }
            });
            
        });

        $(".collapsed").next(".content").hide();
    </script>
</body>
    
</html>

{% endblock %}
